body,
html {
    font-family: "microsoft yahei",arial, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 100%;
    position: relative;
    background: #f8f8f8;
    overflow-y: auto;
}
.opacityHide {
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
body h1,
html h1 {
    font-size: 20px;
    color: #27170a;
    padding: 0;
    margin: 0;
    line-height: 20px;
}

body h2,
html h2 {
    font-size: 18px;
    line-height: 18px;
    color: #27170a;
    padding: 0;
    margin: 0;
}

body h3,
html h3 {
    font-size: 16px;
    line-height: 16px;
    color: #27170a;
    margin: 0;
}

body h4,
html h4 {
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    margin: 0;
}

body a,
html a {
    color: #ffffff;
    text-decoration: none;
}

body p,
html p {
    padding: 0;
    margin: 0;
}


ul {margin: 0; padding: 0;}


 li { list-style-type: none;}

#header,
#banner {
    width: 100%;
}

.content_wrapper {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.content_wrapper .panel {
    background: #ffffff;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    padding: 30px 40px;
    margin-bottom: 20px;
}

.content_wrapper:before,
.content_wrapper:after {
    display: table;
    content: "";
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fc {
    margin: 0 auto !important;
}

.borderClear {
    border-left: none !important;
    border-right: none !important;
}

.clear {
    clear: both;
}

.loading {
    color: #888888;
}

.button {
    height: 34px;
    line-height: 34px;
    width: 118px;
    text-align: center;
    background: #f37522;
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0 2px #be4d01;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
}



.button a {
    color: #ffffff;
    font-size: 14px;
    display: block;
}

.button_olden {
    height: 34px;
    line-height: 34px;
    width: 118px;
    text-align: center;
    background: #b48d48;
    border-radius: 4px;
    color: #ffffff;
    box-shadow: 0 2px #795515;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.button_olden a {
    color: #ffffff;
    font-size: 14px;
    display: block;
}

.button:hover,
.button_olden:hover {
    filter: alpha(opacity=100);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
.button2 {
    height: 30px;
    line-height: 30px;
    width: 104px;
    text-align: center;
    background: #f37522;
    border-radius: 4px;
    color: #ffffff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.button2 a {
    color: #ffffff;
    font-size: 14px;
    display: block;
}

.button2:hover {
    filter: alpha(opacity=100);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}


/*头部*/

#header ul li {
    float: left;
}

#header .topInfo {
    height: 32px;
    background: #574946;
    line-height: 32px;
    color: #d8d8d8;
    font-size: 12px;
    position: relative;
}

#header .topInfo .topInfo_left {
    float: left;
}

#header .topInfo .topInfo_left .phoneNumber p span {
    color: #999999;
    font-size: 12px;
}



#header .topInfo .topInfo_right {
    position: relative;
    float: right;
}

#header .topInfo .topInfo_right li img {
    float: left;
    width: 14px;
    height: 14px;
    top: 8px;
    position: relative;
    left: 10px;
}

#header .topInfo .topInfo_right li a {
    padding: 0 15px;
}



#header .topInfo .topInfo_right li:hover {
   filter: alpha(opacity=100);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
  	cursor: pointer;
}
#header .topInfo .topInfo_right li:hover a{
	text-decoration: underline;
}

#header .nav {
    height: 72px;
    line-height: 72px;
    background: #f8f8f8;
    border-bottom: 1px solid #d6d6d6;
}

#header .nav .logo a {
    height: 72px;
    width: 346px;
    float: left;
}

#header .nav .logo a img {
    width: 100%;
    border: none;
}

#header .nav .nav_menu {
    float: right;
    position: relative;
    left: 25px;
}

#header .nav .nav_menu li {
    cursor: pointer;
}

#header .nav .nav_menu a {
    padding: 24px 0px;
    color: #27170a;
    font-size: 16px;
    margin: 0 20px;
}

#header .nav .nav_menu a:hover {
    color: #b48d48;
}

#header .nav .nav_menu a.current {
    color: #b48d48;
    /*border-bottom: 2px solid #b48d48;*/
    
}

#header .nav .nav_current {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    height: 2px;
    background: #b48d48;
}

/* 页尾*/
.footer {
    width: 100%;
    height: 48px;
    background: #574946;
    position: absolute;
    line-height: 48px;
    text-align: center;
}
.footer .footer_cont {
    width: 100%;
    color: #a2a2a2;
    text-align: center;
    font-size: 12px;
}

.footer1 {
    width: 100%;
    height: 48px;
    background: #574946;
   
    line-height: 48px;
    text-align: center;
		
      color: #a2a2a2;
      font-size: 12px;
 
}

/*内容部分*/
.account {
  background: #f9f7f8;
  padding: 30px 0;
   box-sizing: border-box;
  -moz-box-sizing:border-box; 
-webkit-box-sizing:border-box; 

}
#header .nav .nav_current {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    height: 2px;
    background: #b48d48;
}
.account .account_nav {
  float: left;
  background: #ffffff;
  box-shadow: 0 0 1px #d6d6d6;
  width: 190px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding-bottom: 20px;
}
.account .account_nav p {
  text-align: center;
  color: #b48d48;
  margin: 25px auto 0 auto;
  font-size: 18px;
  background: url("../img/bg_account_p.png") no-repeat center;
}
.account .account_nav ul {
  margin-top: 15px;
}
.account .account_nav ul li {
  color: #666666;
  font-size: 14px;
  height: 36px;
  cursor: pointer;
}
.account .account_nav ul li img {
  width: 18px;
  height: 18px;
  float: left;
  margin: 9px 0 0 20px;
}
.account .account_nav ul li a {
  color: #666666;
  line-height: 36px;
  height: 36px;
  width: 146px;
  padding-left: 44px;
  display: block;
}
.account .account_nav ul li a:hover {
  color: #ffffff;

}
.account .account_nav ul li a.current {
  background: #c39c58;
  color: #ffffff;
}
.account .account_content {
  background: #ffffff;
  box-shadow: 0 0 1px #d6d6d6;
    -moz-box-shadow:0 0 1px #d6d6d6;
     -webkit-box-shadow:0 0 1px #d6d6d6;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  float: right;
  width: 690px;
  padding: 30px;
}
.account_content h2 {
  border-bottom: 1px solid #c39c58;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.account_content .tabs_nav {
  border-bottom: 1px solid #f37522;
  margin-bottom: 15px;
  cursor: pointer;
    clear: both;
    overflow: hidden;
}
.account_content .tabs_nav a {
  color: #27170a;
  float: left;
  text-align: center;
  display: block;
  width: 90px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
}
.account_content .tabs_nav a.current {
  color: #ffffff;
  background: #f8ac7a;
  border-radius: 4px 4px 0 0;
}
.account_content {
  overflow: hidden;
}
/*分页*/
#navigatediv{
	position: absolute; height: 30px; width: 690px;bottom: 20px; text-align: center;padding-left: 220px;display: none;
	box-sizing: border-box;
}
#navigatediv div{
	float: left;
	width:50px;
	 height: 30px;
	 line-height: 30px;
}
#navigatediv div a{
	color: #727272;
}
#navigatediv  .pagenavigateon a{
	color: red;
	text-decoration: underline;
}




/* Paging */
.paging {
	width: 100%;
	text-align: center;
	padding-top: 30px;
}

.paging .paging_content {
	height: 30px;
	line-height: 30px;
}

.paging .paging_content span a {
	color: #666666;
	width: 22px;
	height: 23px;
	line-height: 23px;
	display: inline-block;
	margin: 0 2px;
}

.paging .paging_content span a.page-select {
	color: #e71a0f;
	text-decoration: underline;
}

.paging .paging_content span.firstpage a {
	background: url("../img/icon_page_first.png") no-repeat center center;
	border: 1px solid #cbcbc2;
}

.paging .paging_content span.prevpage a {
	background: url("../img/icon_page_prev.png") no-repeat center center;
	border: 1px solid #cbcbc2;
}

.paging .paging_content span.nextpage a {
	background: url("../img/icon_page_next.png") no-repeat center center;
	border: 1px solid #cbcbc2;
}

.paging .paging_content span.lastpage a {
	background: url("../img/icon_page_last.png") no-repeat center center;
	border: 1px solid #cbcbc2;
}

.paging .paging_content span.firstpage a.disabled {
	background: url("../img/icon_page_first_disable.png") no-repeat center
		center;
	border: 1px solid #cbcbc2;
}

.paging .paging_content span.prevpage a.disabled {
	background: url("../img/icon_page_prev_disable.png") no-repeat center
		center;
	border: 1px solid #cbcbc2;
}

.paging .paging_content span.nextpage a.disabled {
	background: url("../img/icon_page_next_disable.png") no-repeat center
		center;
	border: 1px solid #cbcbc2;
}

.paging .paging_content span.lastpage a.disabled {
	background: url("../img/icon_page_last_disable.png") no-repeat center
		center;
	border: 1px solid #cbcbc2;
}

.paging .paging_content span.firstpage a:hover, .paging .paging_content span.prevpage a:hover,
	.paging .paging_content span.nextpage a:hover, .paging .paging_content span.lastpage a:hover
	{
	text-decoration: none;
}
